.shake {
    animation: shake 1s;
}

@keyframes shake {
    0% { transform: translate(5px, 5px) rotate(0deg); }
    10% { transform: translate(-5px, -5px) rotate(-1deg); }
    20% { transform: translate(-10px, 0px) rotate(1deg); }
    30% { transform: translate(10px, 4px) rotate(0deg); }
    40% { transform: translate(5px, -5px) rotate(1deg); }
    50% { transform: translate(-5px, 5px) rotate(-1deg); }
    60% { transform: translate(-10px, 5px) rotate(0deg); }
    70% { transform: translate(5px, 5px) rotate(-1deg); }
    80% { transform: translate(-5px, -5px) rotate(1deg); }
    90% { transform: translate(5px, 5px) rotate(0deg); }
    100% { transform: translate(5px, -5px) rotate(-1deg); }
}